{% extends 'base.html' %}
{% block body %}
<header class="aui-bar aui-bar-nav" id="aui-header">
  <a class="aui-btn aui-pull-right" tapmode href="/logout">logout</a>
  <div class="aui-title">Chat</div>
</header>
<section class="aui-chat">
  <div class="aui-chat-header">2016年7月13日</div>
  <div class="aui-chat-item aui-chat-left">
    <div class="aui-chat-media">
      <img src="{{ static_url('img/dn.png') }}"/>
    </div>
    <div class="aui-chat-inner">
      <div class="aui-chat-name">AUI</div>
      <div class="aui-chat-content">
        <div class="aui-chat-arrow"></div>
        Hello AUI 2.0!
      </div>
    </div>
  </div>
  <div class="aui-chat-item aui-chat-right">
    <div class="aui-chat-media">
      <img src="{{ static_url('img/dn.png') }}"/>
    </div>
    <div class="aui-chat-inner">
      <div class="aui-chat-name">流浪男</div>
      <div class="aui-chat-content">
        <div class="aui-chat-arrow"></div>
        你好！
      </div>

    </div>
  </div>
</section>
<footer class="aui-bar aui-bar-tab" id="footer">
  <div class="aui-list aui-form-list">
    <div class="aui-list-item">
      <div class="aui-list-item-inner">
        <div class="aui-list-item-input">
          <textarea placeholder="Please enter something to send"></textarea>
        </div>
        <div class="aui-btn aui-margin-r-5">submit</div>
      </div>
    </div>
  </div>
</footer>
{% end %}
