{% extends 'base.html' %}
{% block body %}
<header class="aui-bar aui-bar-nav" id="aui-header">
  <div class="aui-title">login</div>
</header>
<div class="aui-content aui-margin-b-15">
  <ul class="aui-list aui-form-list">
    <li class="aui-list-item">
      <div class="aui-list-item-inner">
        <div class="aui-list-item-label">
          Text
        </div>
        <div class="aui-list-item-input">
          <input type="text" placeholder="Name">
        </div>
      </div>
    </li>
    <li class="aui-list-item">
      <div class="aui-list-item-inner">
        <div class="aui-list-item-label">
          Password
        </div>
        <div class="aui-list-item-input">
          <input type="password" placeholder="Password">
        </div>
      </div>
    </li>
    <li class="aui-list-item">
      <div class="aui-list-item-inner aui-list-item-center aui-list-item-btn">
        <div class="aui-btn aui-btn-block">submit</div>
      </div>
    </li>
  </ul>
  <div class="aui-text-center aui-margin-5">
    <a href="/registe">No account, Create one now</a>
  </div>
</div>
{% end %}
